PORT = ****
MONGO_URI = ***********************************************************
JWT_SECRET = **********************************************************
NODE_ENV = development (or production )

IMAGEKIT_PRIVATE_KEY = *********************************=
IMAGEKIT_PUBLIC_KEY = **********************************=
IMAGEKIT_URL_ENDPOINT = https://ik.imagekit.*************