@import "tailwindcss";


body{
  font-family: sans-serif;
}


.BACKGROUND {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://wallpaperaccess.com/full/143736.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

button{
  cursor: pointer;
}

/* --- loader component ---  */
.loader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid #e5e7eb;
  border-top: 3px solid #111827;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}